html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

:root {
  --white: #ffffff;
  --black: #383A4A;
  --toxic: #44ff02;
  --green: #19C152;
  --red: #B22C2B;
  --orange: #FFC700;
  --grey: #848691;
  --grey91: #919191;
  --grey4b: #4B4A59;
  --greyab: #ABACB6;
  --greyHeader: #EFF3F6;

}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 400;
  background: linear-gradient(219deg, #000236 0%, #bc01b5 100%);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, supported by most modern browsers */
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}